:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background-color: #c893dd;
    --button-background-color: #d9d9d9;
    --button-text-color: #555;
}

body.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-background-color: #ffffff;
    --header-text-color: #ffffff;
    --button-background-color: #d9d9d9;
    --button-text-color: #555;
}

body.dark-theme {
    --background-color: #333333;
    --text-color: #ffffff;
    --header-text-color: #ffffff;
    --header-background-color: #444444;
    --button-background-color: #555555;
    --button-text-color: #ffffff;
}

/* Menyentrongkan tombol di tengah halaman */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 50px;
}

.header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
}

.addBtn {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

.edit, .close {
    color: var(--button-text-color);
}

*{
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
}



ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style:solid ;
    border-width: 0 2px 2px 0;
    top: 14px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close, .edit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close {
    background-color:#7a3120;
    color: white;
    margin: 9px 12px 12px 0;
    border-radius: 12px 12px 12px 12px;
    
}

.edit {
    background-color: #46291b;
    color: white;
    rounded-circle : 2px;
    margin-top: 9px;
    margin-right: 60px; /* Jarak antara tombol edit dan close */
    border-radius: 12px 12px 12px 12px;
}

.close:hover {
    background-color: #914629;
    color:white
}
.edit:hover {
    background-color: #5b4035;
    color:white
}

.header {
    background-image: url('https://images.pexels.com/photos/5946812/pexels-photo-5946812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    position: relative;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.header::after{
    content: "";
    display: table;
    clear: both;
}

.inputAdd{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: -16px;
    border-radius: 12px 0px 0px 12px;
}

#myInput {
    color: rgb(0, 0, 0);
}

.addBtn {
    height: 35px;
    padding: 10px;
    width: 15%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 1em; 
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px 12px 12px 0px;
}

@media (max-width: 300px) {
    .addBtn {
        font-size: 0.8em;
        width: 36px;
        height: 35px;
    }
}
    
.addBtn:hover {
    background-color: #bbb;
}

.low-priority {
    background-color: #BDA69A;
    color: white;
    list-style-type: none;
}

.medium-priority {
    background-color: #9C7D67;
    color: white;
    list-style-type: none;
}

.high-priority {
    background-color: #6C4A35;
    color: white;
    list-style-type: none;
}

select {
    float: left  ;
    height:  36px;
}
.header {
    background-color: #c893dd;
    padding: 30px 40px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Menyembunyikan checkbox */
.theme-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(0, 0); /* Pastikan elemen tidak ditransformasikan */
}

#themeToggleBtn {
    height: 0;
    width: 0;
    visibility: hidden;
}
/* Style untuk label yang akan berfungsi sebagai tombol */
label[for="themeToggleBtn"] {
    cursor: pointer;
    text-indent: -9999px;
    width:50px;
    height: 30px;
    background: white;
    display: block;
    border-radius: 100px;
    position: relative;
}

/* Mengatur tampilan toggle bulat di dalam tombol */
label[for="themeToggleBtn"]:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: brown;
    border-radius: 90px;
    transition: 0.3s;
}

/* Mengubah warna background dan posisi toggle saat checkbox di-check */
#themeToggleBtn:checked + label[for="themeToggleBtn"] {
    background: #46291B;
}

#themeToggleBtn:checked + label[for="themeToggleBtn"]:after {
    left: calc(40% - 5px);
    transform: translateX(10px);
}

/* Mengatur animasi saat tombol aktif (saat ditekan) */
label[for="themeToggleBtn"]:active:after {
    width: 13px;
}
.btnSortSearch {
    margin-bottom: 19px;
    margin-right: auto; /* Dorong elemen lain ke kanan */
    margin-left: 0; /* Pastikan berada di pojok kiri */
    padding: 8px;
    font-size: 1em;
    height: 36px;
}

.timestamp{
    font-size : 0.8rem ;
    color: #888;
    display: block;
    margin-top: 3px;
}

.inputSearch, #sortInput {
    padding: 8px;
    font-size: 1em;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


#sortInput {
   /* Tentukan lebar dropdown sortir */
}

@media (max-width: 768px) {
    .inputSearch, #sortInput {
        width:50%;
    }
}

#sortInput {
    font-size: 1em;
}


